%title Test
-# %script{:type => "text/javascript",:src  => "coffeescripts/js.coffee"}
%script{:type => "text/javascript",:src  => "js/jquery17.js"}
%script{:type => "text/javascript",:src  => "js/menu.js"}
%meta{:charset => "utf-8"}
%link{:rel => "stylesheet",:href  => "css/index.css"}